<%@ CodeTemplate Language="C#" TargetLanguage="C#" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Register Name="Utility" Template=".\Utility.cst" MergeProperties="False" %>
<%--<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" %>--%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" %>

<% 
    for (int i = 0; i < SourceTable.Columns.Count; i++) { 
            var column = SourceTable.Columns[i];
%>
        <el-table-column prop="<%= Utility.FormatCamelName(column.Name) %>" label="<%= column.Name %>" />
<%  }%>

